$white: #fff;
$aquamarine: #7fffff;
$bright-red: #dc3545;
$black: #000;
$isabelline: #ececec;
$light-gray: #d1d1d1;

$raleway: 'Raleway', sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;